body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1em;
}

/* new code */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px solid #311212;
  text-align: center;
}
.span-col-2{grid-column: span 2 / auto;}

img {
  max-width: 630px;
  height: auto;
}

.hide {
  display: none;
}

.editable {
  border: 1px solid salmon;
  padding: 20px;
}

/* end new code */

a {
   color:#97659;
  }

input {
 font-size: 1.5em;
}

.container {
 width: 960px;
 margin:auto;
 margin-top:50px;
}

ul {
 padding-left: 20px;
}

.delete-horse-link {
 color:red;
}