body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1em;
  background-color: rgb(88, 175, 88);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border: 1px solid #311212;
  text-align: center;
  background-color: white;
}
.span-col-2{grid-column: span 2 / auto;}

img {
  max-width: 630px;
  height: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center {
  text-align: center;
  border: 3px solid rgb(15, 65, 15);
  padding: 2%;
  font-size: 1.5em;
}

#new-horse-button {
  text-align: center;
  border: 3px solid rgb(26, 85, 26);
  font-size: 1em;
}

.hide, #new-horse-container {
  display: none;
}

.editable {
  border: 1px solid salmon;
  padding: 20px;
}

a {
   color: #97659;
  }

input {
 font-size: 1.5em;
}

.container {
 width: 960px;
 margin:auto;
 margin-top:50px;
}

ul {
 padding-left: 20px;
}
